<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div class="tool-bar">
    <button id="download">下载到本地</button>
    <button id="send-to-email">发送到邮箱</button>
</div>
<div id="pdf" class="pdf"></div>
<script src="/assets/resume.js"></script>
</body>
</html>