<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
    {{range $i, $v := .scripts}}
    <script src="{{$v}}" type="text/javascript"></script>
    {{end}}
</head>
<body>
<header>
    <div class="header" id="header">
        <strong>{{.i18n.Header}}</strong>
    </div>
</header>
<div id="resume">{{.resume}}</div>
<div class="tool-bar" id="tool-bar">
    <button id="download">{{.i18n.Download}}</button>
    <button id="send-to-email">{{.i18n.SendToEmail}}</button>
</div>
<script src="/assets/resume.js" type="text/javascript"></script>
</body>
</html>